<div class="genre-show-container">
	<div class="row">
		<div class="col-8 offset-2">
			<h1 class="genre-show-title">商品一覧 : <%= @genre.name %></h1>
			<br>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th></th>
							<th></th>
							<th>販売状況</th>
						</tr>
					</thead>
					<% @products.each do|product| %>
					<tbody>
						<tr data-href="<%= user_product_path(product.user, product) %>">
							<td>
								<% if product.avatar.attached? %>
									<%= image_tag product.avatar.variant(resize: "120x120"), class: "img-fluid" %>
								<% else %>
									<%= image_tag '/images/no_image.png', size:'120x120', class: "img-fluid" %>
								<% end %>
							</td>
							<td>
								<p>商品名: <%= product.name %></p>
								<p>ユーザー名: <%= product.user.name %></p>
								<p>価格: <%= product.price %></p>
							</td>
							<td>
								<% if product.finish %>
									<p>終了いたしました</p>
								<% else %>
									<p>販売中</p>
								<% end %>
							</td>
						</tr>
					</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>