<div class="edit-bank-container">
	<div class="">
		<h1 class="edit-bank-title">振込先編集</h1>
		<%= form_for @bank, url: {action: 'update'} do |f| %>
			<div class="edit-bank-field animated fadeIn4">
				<%= f.label :銀行名 %><br>
				<%= f.select :name, Bank.names.map{|k, v| [Bank.names_i18n[k],k]} %>
			</div><br>
			<div class="edit-bank-field animated fadeIn4">
				<%= f.label :支店名 %><br>
				<%= f.text_field :branch, class: "bank-content" %>
			</div><br>
			<div class="edit-bank-field animated fadeIn4">
				<%= f.label :口座番号 %><br>
				<%= f.text_field :number, class: "bank-content" %>
			</div><br>
			<div class="bank-field animated fadeIn4">
				<%= f.label :名義人 %><br>
				<%= f.text_field :holder, class: "bank-content" %>
			</div><br>
			<div class="edit-bank-action animated fadeIn4">
				<%= f.submit "振込先変更", class:"post-btn btn btn-secondary btn-lg" %>
			</div>
		<% end %>
	</div>
</div>