<div class="container new-bank-container">
	<div class="row">
		<div class="col-4 offset-4">
			<h1 class="new-bank-title">振込先登録</h1>
			<%= form_with model: Bank.new, url: user_banks_path, local: true do |f| %>
			<div class="bank-field">
				<%= f.label :name, "銀行名" %><br>
				<%= f.select :name, Bank.names.map { |k,v| [Bank.names_i18n[k],k]} %>
			</div><br>
			<div class="bank-field">
				<%= f.label :branch, "支店名" %><br>
				<%= f.text_field :branch %>
			</div><br>
			<div class="bank-field">
				<%= f.label :number, "口座番号" %><br>
				<%= f.text_field :number %>
			</div><br>
			<div class="bank-action">
				<%= f.submit "振込先登録", class:"btn btn-secondary btn-lg" %>
			</div>
			<% end %>
		</div>
	</div>
</div>