<div class="mypage-container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<br><br>
			<h1>マイページ</h1>
			<br>
			<div class="row mypage-link">
				<div class="my-profile-image">
					<%= attachment_image_tag @user, :profile_image, :fill, 350, 350,
					fallback: "no_image.png", size: '350x350', class: "border img-fluid" %>
				</div><br>
				<div class="col-4 bank-new-path"><%= link_to "振込先登録", new_user_bank_path(current_user), style: "color: white" %></div><br>
				<div class="col-4 bank-index-path"><%= link_to "振込先一覧", user_banks_path(current_user), style: "color: white" %></div><br>
				<div class="col-4 user-edit-path"><%= link_to "ユーザー情報編集", edit_user_path(current_user), style: "color: white"%>
				</div>
			</div>
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-6 offset-3">
			<!-- タブ・メニュー -->
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link" href="#nav-content-favorite" data-toggle="tab">いいねした商品</a></li>
				<li class="nav-item"><a class="nav-link" href="#nav-content-myproduct" data-toggle="tab">自分の商品</a></li>
				<li class="nav-item"><a class="nav-link" href="#nav-content-order-history" data-toggle="tab">購入履歴</a></li>
			</ul>
			<!-- タブ内容 -->
			<div class="tab-content">

				<!--いいねした商品-->
				<div class="tab-pane" id="nav-content-favorite">
					<h2>いいねした商品一覧</h2>
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<!-- スライドさせる画像の設定 -->
						<div class="carousel-inner">
						    <% @favorites.each do |favorite| %>
						    	<% if @count == 1 %>
							    	<div class="carousel-item active">
						    	<% else %>
							    	<div class="carousel-item">
					    		<% end %>

						    	<%= link_to user_product_path(favorite.product, favorite.product.user) do %>
						    		<%= attachment_image_tag favorite.product, :jacket_image,  :fill, 200, 200, fallback: "no_image.png", size: '200x200', class: "border img-fluid d-block w-100"%>
						    	<% end %>

								    </div>
							    <% @count += 1 %>
							<% end %>
						</div>
						<!-- スライドコントロールの設定 -->
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">前へ</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">次へ</span>
						</a>
					</div>
				</div>
				<!--自分の商品-->
				<div class="tab-pane" id="nav-content-myproduct">
					<div class="row d-flex flex-wrap">
						<% @products.each do |product| %>
						<div class="col-md-6 col-12">
							<%= link_to user_product_path(product.user, product) do %>
							<div class="card img-thumbnail product-index-thumnail">
								<%= attachment_image_tag  product,:jacket_image,fallback: "no_image.png",class: "border card-img-top img-fluid"%>
								<div class="card-body px-2 py-3">
									<h5 class="card-title"><%= product.name %></h5>
									<p class="mb-0"><%= link_to "編集", edit_user_product_path(product.user, product), class: "btn btn-warning btn-sm" %>
										<i class="fas fa-edit"></i>
									</p>
								</div>
							</div>
							<% end %>
						</div>
						<% end %>
					</div>
				</div>
				<div class="tab-pane" id="nav-content-order-history">
					<%= render 'orders/index', orders: @orders %>
				</div>
			</div>
		</div>
	</div>
</div><br><br>