<div class="container admin-user-container">
	<h2>ユーザー一覧</h2>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>名前</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% users.each do |user| %>
			<tr id="admin-user_<%= user.id %>">
				<td><% if user.avatar.attached? %>
						<%= image_tag user.avatar.variant(resize: "100x100"), class: "img-fluid" %>
					<% else %>
						<%= image_tag '/images/no_image.png', size:'100x100', class: "img-fluid" %>
					<% end %>
				</td>
				<td><%= user.name %></td>
				<td><%= link_to "詳細", admins_user_path(user), class: "btn btn-info btn-xs" %>
					<%= link_to "削除", admins_user_path(user), class: "btn btn-danger btn-xs", method: :delete, remote: true %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate users %>
</div>