<div class="order-history-container container">
	<div class="row">
		<table class="table table-striped col-12">
			<h1>購入履歴</h1>
			<thead>
				<tr class="row">
					<th class="col-3"></th>
					<th class="col-2">商品名</th>
					<th class="col-2">価格</th>
					<th class="col-2">出品者</th>
					<th class="col-3">日付</th>
				</tr>
			</thead>
			<% orders.each do |order| %>
			<tbody>
				<tr class="row order-history-item" data-href="<%= user_product_path(order.product.user, order.product) %>">
					<td class="col-3">
						<%= attachment_image_tag order.product, :jacket_image, :fill, 100, 100, format: 'jpeg' %>
					</td>
					<td class="col-2"><%= order.product.name %></td>
					<td class="col-2"><%= order.price %></td>
					<td class="col-2"><%= order.product.user.name %></td>
					<td class="col-3"><%= order.created_at %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<%= paginate orders %>
	</div>
</div>