<div class="confirm-container">
	<h1 class="confirm-title">購入内容確認</h1><br>
	<div class="row">
		<div class="col-5 offset-1 order-confirm-left">
			<h3 class="confirm-product-name">
				商品名: <%= @product.name %>
			</h3><br>
			<div class="confirm-product-content">
				<span class="confirm-span-title">商品説明:</span><br> <%= @product.body %>
			</div><br>
		</div>
		<div class="col-4 offset-1 order-confirm-right">
			<div class="confirm-product-price">
				価格: <%= @product.price %>円
			</div><br>
			<div class="confirm-product-user">
				出品者: <%= @product.user.name %>
			</div><br>
			<div class="confirm-contact">
				連絡手段: <%= @order.contact %>
			</div><br>
			<div class="confirm-contact-info">
				連絡番号: <%= @order.contact_info %>
			</div><br>
			<div class="confirm-payment">
				支払い方法: <%= @order.payment_i18n %>
			</div><br>
			<% if Order.payments[@order.payment] == 1 %>
			<div class="confirm-your-skill">
				あなたのスキル: <%= @order.my_skill %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="confirm-back-btn"><%= link_to "商品トップへ", root_path, class: "btn btn-secondary btn-lg" %></div>
</div>