<div class="confirm-container">
	<h1 class="confirm-title">購入内容確認</h1><br>
	<h2 class="confirm-message animated fadeIn3">購入が確定しました</h2>
	<div class="order-confirm-top">
		<h2 class="order-confirm-item-title">商品情報</h2>
		<h4 class="confirm-field">
			商品名: <%= @product.name %>
		</h4>
		<div class="confirm-product-content">
			<span class="confirm-span-title">商品説明:</span><br> <%= simple_format(@product.body) %>
		</div>
		<h4 class="confirm-field">
			価格: <%= @product.price %>円
		</h4>
	</div>
	<div class="order-confirm-bottom">
		<h2 class="order-confirm-item-title">購入情報</h2>
		<h4 class="confirm-field">
			出品者: <%= @product.user.name %>
		</h4>
		<h4 class="confirm-field">
			連絡手段: <%= @order.contact %>
		</h4>
		<h4 class="confirm-field">
			連絡番号: <%= @order.contact_info %>
		</h4>
		<h4 class="confirm-field">
			支払い方法: <%= @order.payment_i18n %>
		</h4>
		<% if Order.payments[@order.payment] == 1 %>
		<h4 class="confirm-field">
			あなたのスキル: <%= @order.my_skill %>
		</h4>
		<% end %>
	</div>
	<div class="confirm-back-btn"><%= link_to "商品トップへ", root_path, class: "post-btn btn btn-secondary btn-lg" %></div>
</div>