<div class="order-new-container">
	<h1 class="order-new-title">購入内容確定</h1>
	<% if @order.errors.any? %>
		<%= render 'layouts/flash_messages' %>
	<% end %>
	<%= form_with model: Order.new, url: user_product_orders_path, local: true do |f| %>
		<!--入力欄-->
		<div class="order-new-top">
			<h2 class="order-new-item-title">入力欄</h2>
			<div class=order-field>
				<%= f.label :contact, "連絡手段 " %><br>
				<%= f.select :contact, Order.contacts.keys.to_a, {} %>
				<div class="else-contact-form">
					<%= f.label :other_contact, "その他の連絡手段" %><br>
					<%= f.text_field :other_contact, class: 'outline' %>
				</div>
			</div><br>
			<div class="order-field">
				<%= f.label :contact_info, "連絡番号およびID" %><br>
				<%= f.text_field :contact_info, class: 'outline' %>
			</div><br>
			<div class="order-field">
				<%= f.label :payment, "支払い方法" %><br>
				<%= f.select :payment, Order.payments.map { |k, v| [Order.payments_i18n[k], k]} %>

				<div class="your-skill-form">
					<%= f.label :my_skill, "あなたが交換するスキル" %><br>
					<%= f.text_field :my_skill, class: 'outline' %>
				</div>
			</div><br>
		</div>
		<!--情報表示欄-->
		<div class="order-new-bottom">
			<h2 class="order-new-item-title">商品情報</h2>
			<h4 class="order-new-bottom-item">商品名 : <%= @product.name %></h4>
			<h4 class="order-new-bottom-item">ユーザー名 : <%= @product.user.name %></h4>
			<h4 class="order-new-bottom-item">価格 : <span class="existing-price"><%= @product.price %>円</span>
				<span class="free-price">スキルで決済</span>
			</h4>
			<%= f.hidden_field :price, value: "#{@product.price}" %>
			<h4>商品説明</h4>
			<div>
				<%= @product.body %>
			</div><br>
			<div class="order-field">
				<%= f.submit "購入確定", class:"btn btn-danger btn-lg" %>
			</div>
			<!--ルームに戻りたいけど、room.idが取得できないからルーム一覧へ-->
			<div class="room-back">
				<%= link_to "ルーム一覧へ戻る", rooms_path, class: "post-btn btn btn-secondary btn-lg" %>
			</div>
		</div>
	<% end %>
</div>