<div class="home-chat-container">
	<h1 class="home-chat-title">チャット機能の使い方</h1>
	<div class="chat-explain-container">
		

		<h3>Step1 >> 購入者は商品詳細から「注文相談へ進む」を選択</h3>
		<p>注文相談にはログインが必要です</p>
		<%= image_tag "/images/go_consult.png", :style=>"width: 60%;", class: "img-fluid" %>
		<p><i class="fas fa-angle-double-down"></i></p>


		<h3>Step2 >> 出品者はマイページから「チャットルーム」を選択し<br>
			一覧から自分のチャットルームを選んで入室します
		</h3>
		<%= image_tag "/images/mypage_chat.png", :style=>"width: 60%;", class: "img-fluid" %>
		<p><i class="fas fa-angle-double-down"></i></p>
		<%= image_tag "/images/room_table.png", :style=>"width: 60%;", class: "img-fluid" %>
		<p><i class="fas fa-angle-double-down"></i></p>


		<h3>Step3 >> 入力欄にメッセージを入れて<br>
			エンターを押すとリアルタイムで反映されます
		</h3>
		<p>ここでは、商品を購入する時間、順番や、連絡手段、<br>
			スキルの交換による決済を利用するかどうかを話し合ってください。</p>
		<%= image_tag "/images/chat.png", :style=>"width: 60%;", class: "img-fluid" %>
		<p><i class="fas fa-angle-double-down"></i></p>
		

		<h3>Step4 >> 出品者は「購入を許可する」ボタンで<br>
			この相手に商品を買わせる許可をします</h3>
		<%= image_tag "/images/go_order.png", :style=>"width: 60%;", class: "img-fluid" %>
		<p><i class="fas fa-angle-double-down"></i></p>
		

		<h3>Step5 >> 購入者は出品者の許可が降りてから、ページを更新すると<br>
			「購入へ」ボタンが登場します<br>
			=>ここから購入内容入力に進みます
		</h3>
		<%= image_tag "/images/go_order2.png", :style=>"width: 60%;", class: "img-fluid" %>


		<div class="chat-caution">
			
		</div>
	</div>
</div>