<div class="room-index-container">
	<%= render 'layouts/flash_messages' %>
	<h1 class="room-index-title">Room一覧</h1>
	
	<div class="row">
		
		<!--自分が購入者の時-->
		<section class="col-md-6 col-12 room-section">
			<h3>あなたが購入者の部屋</h3>
			<div class="row">
				<strong class="col-5">商品名</strong>
				<strong class="col-5">出品者</strong>
				<strong class="col-2">作成日時</strong>
			</div>
			<hr>
			<% @buyer_rooms.each do |room| %>
				<%= link_to room_path(room) do %>
					<div class="row">
						<p class="col-5">
							<%= room.product.name %>
						</p>
						<p class="col-5">
							<%= room.seller.name %>
						</p>
						<p class="col-2"><%= time_ago_in_words(room.created_at).upcase%>前</p>
					</div>
				<% end %>
				<hr>
			<% end %>
			<%= paginate @buyer_rooms, param_name: 'buyer_room_page' %>
		</section>


		<!--自分が出品者の時-->
		<section class="col-md-6 col-12 room-section">
			<h3>あなたが出品者の部屋</h3>
			<div class="row">
				<strong class="col-5">商品名</strong>
				<strong class="col-5">購入者</strong>
				<strong class="col-2">作成日時</strong>
			</div>
			<hr>
			<% @seller_rooms.each do |room| %>
				<%= link_to room_path(room) do %>
					<div class="row">
						<p class="col-5">
							<%= room.product.name %>
						</p>
						<p class="col-5">
							<%= room.buyer.name %>
						</p>
						<p class="col-2"><%= time_ago_in_words(room.created_at).upcase%>前</p>
					</div>
				<% end %>
				<hr>
			<% end %>
			<%= paginate @seller_rooms, param_name: 'seller_room_page' %>
		</section>
	</div>
</div>








