<div class="room-index-container">
	<h1 class="room-index-title">Room一覧</h1>
	<table class="table table-hover room-table">
		<thead>
			<tr>
				<th>商品名</th>
				<th>出品者</th>
			</tr>
		</thead>
		<tbody>
			<% current_user.buyer_rooms.each do |room| %>
				<tr data-href="<%= room_path(room) %>">
					<td>
						<%= room.product.name %>
					</td>
					<td>
						<%= room.product.user.name %>
					</td>
				</tr>
			<% end %>
			<% current_user.seller_rooms.each do |room| %>
				<tr data-href="<%= room_path(room) %>">
					<td>
						<%= room.product.name %>
					</td>
					<td>
						<%= room.product.user.name %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>