<div class="admin-user-container">
	<h1>商品一覧</h1>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>商品名</th>
				<!-- <th>価格</th> -->
				<th>販売終了</th>
				 <th></th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			<tr id="admin-product_<%= product.id %>">
				<td><% if product.avatar.attached? %>
						<%= image_tag product.avatar.variant(resize: "100x100"), class: "img-fluid" %>
					<% else %>
						<%= image_tag '/images/no_image.png', size:'100x100', class: "img-fluid" %>
					<% end %>
				</td>
				<td><%= product.name %></td>
				<!-- <td><%= product.price %></td> -->
				<td><%= product.finish %></td>
				<td><%= link_to "詳細", admins_product_path(product), class: "btn btn-info btn-xs" %>
					<%= link_to "削除", admins_product_path(product), class: "btn btn-danger btn-xs", method: :delete, remote: true %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @products %>
</div>