<div class="about-container">
	<div class="junbotron about-junbotron effect-fade">
		<h2 class="junb-about-title">あなたのスキルを売ってください。</h2>
	</div>

	<div class="about-nav effect-fade">
		<h2>このページの概要</h2>
		<nav>
			<ul class="about-nav-items">
				<li class="about-nav-item"><a href="#explain-background">Tokuruを作るきっかけ</a></li>
				<li class="about-nav-item"><a href="#what-you-can-do">Tokuruで出来ること</a></li>
				<li class="about-nav-item"><a href="#what-to-do">このサイトの主な使い方</a></li>
				<li class="about-nav-item"><a href="#in-product-index">商品画面では？</a></li>
				<li class="about-nav-item"><a href="#in-product-new">商品投稿はどうするの？</a></li>
				<li class="about-nav-item"><a href="#in-mypage">マイページって？</a></li>
				<li class="about-nav-item"><a href="#about-login">ログインって？</a></li>
			</ul>
		</nav>
	</div>

	<div class="about-wrapper">
		<div class="about-text-wrapper">
			<h1 class="about-using-title effect-fade">Tokuruについて</h1>
			<section id="explain-background" class="effect-fade">
				<h2>Tokuruを作るきっかけ</h2>
				<article>
					昨今の時間感覚の加速化の中、個人に求められるスキルやタスク処理の激増と多様化とは無関係に
					仕事やバイトや勉強の内容は均質化され、誰もが同じ活動を社会に強いられているような感覚を覚えております。それぞれ、やりたいことや好きなことや得意なことは違うはずなのになぜ誰もが同じタスクを繰り返し継承、覚えていかなければならないのでしょうか？現代では細かい知識を覚えずとも、ググれば(Googleで検索すること),すぐに情報に辿り着くはずです。
					時間のない現代人が本当に求めているのは、誰もが知っている知識ではなく、スピード感を持って得られる体系的かつ実用的な情報群ではないでしょうか？
					そのような本当に有用な情報をそれぞれが持ち合わせているスキルセットや対人能力でスピード感を持って、個人が習得、販売するとともにブランディングしていく時代に来ているのではないでしょうか？
					そういった考えをベースに[得意をうる＝＞得うる＝＞Tokuru]Tokuruは制作されました。皆さんの個の力を最大限活かせる場所になれば幸いです。
				</article>
			</section>
			<section id="what-you-can-do" class="effect-fade">
				<h2>Tokuruで出来ること</h2>
				<article>
					Tokuruではあなたが持っているスキルを売ることができます。
					もし、あなたが持っているスキルと、あなたの求めている他の人のスキルが等価と感じたのであれば、双方の同意の上でスキルの交換(決済なしにスキルの提供をする)ができます。
					また、自分のスキルにあった価格設定や、自分のスキルの研鑽を通して、ブランディング能力を養うことができます。
				</article>
			</section>
			<section id="what-to-do">
				<h2 class="about-using-title effect-fade">このサイトの主な使い方</h2>
				<div id="in-product-index" class="effect-fade">
					<h3>商品画面では？</h3>
					<article>
						商品一覧では投稿された商品をざっと見たり、ジャンル検索できます。気になる商品をクリックすると詳細画面に行くことができます。そこでいいねやコメント(レビュー)や注文の相談部屋を作成できます。
						<a href="/images/product_index.png" data-lightbox="group01" /><%= image_tag "/images/product_index.png", class: "img-fluid"%></a>
						<p><i class="fas fa-angle-double-down"></i></p>
						<p><%= image_tag "/images/product_show.png", class: "img-fluid"%></p>
					</article>
				</div>
				<div id="in-product-new" class="effect-fade">
					<h3>商品投稿はどうするの？</h3>
					<article>
						商品投稿をするには画面上部の商品投稿ボタンを押して、必要な情報をすべて入力すれば投稿できます。商品の写真は必須ではありません。また、ユーザーの名前を作成しておかないと投稿はできません。<br>
						<p><%= image_tag "/images/cant_post_product.png", class: "img-fluid" %></p>
						<p><i class="fas fa-angle-double-down"></i></p>
						<%= image_tag "/images/product_new.png", class: "img-fluid" %>
						<%= image_tag "/images/product_new2.png", class: "img-fluid" %>
						<a href="#input-user-name">ユーザーの名前の入力に関してはこちら</a>
						<i class="fas fa-location-arrow"></i>
					</article>
				</div>
				<div id="in-mypage" class="effect-fade">
					<h3>マイページって？</h3>
					<article>
						<div>
							マイページではログインしている本人だけが振込先情報やユーザー情報編集や相談部屋の利用をできます。本人とは違う人のマイページも見ることができます。その際はそのユーザーがフォローしている人やいいねしている商品や投稿した商品や購入した商品までを見ることができます。またプロフィール情報で気になった人をフォローすることができます。商品投稿する際にはマイページのユーザー編集からユーザー名を作成しておく必要があります。
						</div><br>
						<p id="input-user-name">#ユーザー情報編集からユーザー名を保存できます</p>
						<p><%= image_tag "/images/my_user_show.png", class: "img-fluid"%></p>
						<p><i class="fas fa-arrows-alt-v"></i></i></p>
						<p><%= image_tag "/images/non_user_show.png", class: "img-fluid"%></p>
						<p><i class="fas fa-arrows-alt-v"></i></p>
						<p><%= image_tag "/images/other_user_show.png", class: "img-fluid"%></p>
					</article>
				</div>
				<div id="about-login" class="effect-fade">
					<h3>ログインって？</h3>
					<article>
							ログインとは先に登録しておいた情報で自分だけの機能を使うことができるようになることです。
							ログインするには新規登録する必要があります。新規登録とログインはメールアドレスとパスワードだけ用意してもらえればできます。
						<p><%= image_tag "/images/session.png", class: "img-fluid" %></p>
						<p><i class="fas fa-angle-double-down"></i></p>
						<p><%= image_tag "/images/registration.png", class: "img-fluid" %></p>
					</article>
				</div>
			</section>
		</div>
	</div>
</div>