<div class="products-container">
	<%= render 'layouts/flash_messages' %>
	<!--ジャンボトロン、あとでcssで背景写真つける-->
	<%= link_to products_about_path, class:"about-link" do %>
		<div class="jumbotron effect-fade">
			<h1 class="jumb-title">自分が活きる世界を探せ。</h1>
		</div>
	<% end %>
	<div class="main-container">
		<div class="row">
			<div class="col-md-2 offset-md-1 col-6 genre-container">
				<!--何個かのジャンルボタンを用意する-->
				<ul class="list-group" style="max-width: 400px;">
				  <li class="list-group-item disabled" aria-disabled="true">ジャンル</li>
				  <% @genres.each do |genre| %>
				  <li class="list-group-item list-group-item-secondary genre-list-items"><%= link_to genre.name_i18n, genre_path(genre.id), class:"genre-link", style: "color: #333333" %>
				  </li>
				  <% end %>
				</ul>
			</div>
			<!--新着順に商品を並べる、thumbnailを使う--> <!--あとで無限スクロールを使う-->
			<div class="col-md-8 offset-md-1 col-6">
				<div class="newitems">
					<h2 class="new-item-title animated fadeIn2">新着商品一覧</h2>
					<div id="scroll-target">
						<div class="row d-flex flex-wrap">
							<% @products.each do |product| %>
							<div class="col-md-4 col-12">
								<%= link_to user_product_path(product.user, product), {:style => "text-decoration: none"} do %>
								<div class="card img-thumbnail product-index-thumnail">
									<% if product.avatar.attached? %>
										<%= image_tag product.avatar.variant(resize: "350x350"), class: "img-fluid" %>
									<% else %>
										<%= image_tag '/images/no_image.png', size:'350x350', class: "img-fluid" %>
									<% end %>
									<div class="card-body px-2 py-3">
										<h5 class="card-title"><%= product.name %></h5>
										<p class="card-text"><%= product.user.name %> さんの出品</p>
										<p class="card-text"><%= product.price %>円</p>
									</div>
								</div>
								<% end %>
							</div>
							<% end %>
						</div>
						<div class="pagination-display-none">
							<%= paginate @products %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><br><br>