<div class="products-container">
	<!--ジャンボトロン、あとでcssで背景写真つける-->
	<div class="jumbotron">
		<h1 class="jumb-title">自分が活きる世界を探せ。</h1>
		<p><%= link_to "<< ABOUT >>", products_about_path, class:"about-link" %></p>
	</div>
	<div class="main-container">
		<div class="row">
			<div class="col-md-2 col-xs-6 genre-container">
				<!--何個かのジャンルボタンを用意する-->
				<h4 class="genre-seach-title">ジャンルから探す</h4>
				<div class="d-flex flex-wrap justify-content-start">
					<% @genres.each do |genre| %>
						<div>
							<button type="button" class="btn btn-outline-light bg-secondary btn-lg">
								<%= link_to genre.name, genre_path(genre.id), class:"genre-link" %>
							</button>
						</div>
					<% end %>
				</div>
			</div>
			<!--新着順に商品を並べる、thumbnailを使う--> <!--あとで無限スクロールを使う-->
			<div class="col-md-10 col-xs-6">
				<div class="newitems">
					<h2 class="new-item-title">新着商品一覧</h2>
					<div>
						<div class="row d-flex flex-wrap justify-content-center">
							<div class="col-md-4 col-xs-6">
								<% @products.each do |product| %>
								<div class="thumbnail">
									<%= attachment_image_tag  product,:jacket_image, :fill, 200, 200,fallback: "no_image.jpg", size: '200x200',class:"border"%>
									<div class="caption">
										<h3><%= product.name %></h3>
										<p><%= product.price %>円</p>
										<p><%= product.user.name %>さんの出品</p>
									</div>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>