<div class="new-product-container">
	<h1 class="new-product-title">商品投稿</h1>
	<% if @product.errors.any? %>
		<%= render 'layouts/flash_messages' %>
	<% end %>
	<%= form_for [current_user, @product] do |f| %>
		<% if current_user.name? %>
			<div class="product-new-field">
				<%= f.label :"投稿画像" %><br>
				<%= f.file_field :avatar, class: "new-product-image" %>
			</div><br>
			<div class="product-new-field">
				<%= f.label :"あなたの得意" %><br>
				<%= f.text_field :name, placeholder: '例)恋愛相談なんでも',  class: "product-new-skillprice" %>
			</div><br>
			<div class="product-new-field">
				<%= f.label :"ジャンル" %><br>
				<%= f.select :genre_id, @genres.map{|t| [t.name_i18n, t.id]} %>
			</div><br>
			<div class="product-new-field new-under">
				<%= f.label :"価格" %><br>
				<%= f.text_field :price, placeholder: '例)6000円', class: "product-new-skillprice" %>
			</div><br>
			<div class="product-new-field new-under">
				<%= f.label :"商品説明" %><br>
				<%= f.text_area :body, placeholder: '例)あなたが恋愛で悩んでいることをなんでも聞きます。60分間どんどん悩みを打ち明けてください。', class: "product-bodycaution" %><br><br>
			</div><br>
			<div class="product-new-field new-under">
				<%= f.label :"購入時の注意点" %><br>
				<%= f.text_area :caution, placeholder: '例)あなたの悩みを100%解決することは私一人では難しいです。アドバイスはしますが最後はあなたの勇気がすべての鍵です。', class: "product-bodycaution" %><br><br>
			</div><br>
			<div><%= f.submit "投稿", class:"post-btn btn btn-secondary btn-lg" %>
			</div>
		<% else %>
			<div class="user-edit-link-field">
				*投稿するには『ユーザー名』が必要です。<br>
				ユーザー情報編集はこちら<span><i class="far fa-hand-point-right"></i></span>
				<%= link_to "", edit_user_path(current_user), class: "far fa-edit btn btn-warning btn-lg"%>
			</div>
			<div class="user-edit-link-field">
				*また、投稿した商品の詳細で出品者情報が表示されるので、<br>
				『プロフィール情報』を設定しておくと<br>
				購入者が安心して商品を購入できます。
			</div>
		<% end %>
	<% end %>
</div>

