<div class="main-container">
	<div class="row">
		<div class="col-4 offset-2">
			<h1 class="new-product-title">商品投稿</h1>
			<br>
			<br>
			<%= form_for [current_user, @product] do |f| %>
				<% if current_user.name? %>
					<div class="field">
							<%= f.label :"投稿画像" %>
							<%= f.file_field :avatar %>
					</div><br>
					<div class="field">
						<%= f.label :"あなたの得意" %>
						<%= f.text_field :name, size: '25x4' %>
					</div><br>
					<div class="field">
						<%= f.label :"ジャンル" %>
						<%= f.select :genre_id, @genres.map{|t| [t.name, t.id]} %>
					</div><br>
					<div class="field">
						<%= f.label :"価格" %>
						<%= f.text_field :price %>
					</div><br>
					<div class="field">
						<%= f.label :"商品説明" %><br>
						<%= f.text_area :body, size: '25x6', class: "product-body" %><br><br>
					</div><br>
					<div class="field">
						<%= f.label :"購入時の注意点" %><br>
						<%= f.text_area :caution, size: '25x6', class: "product-caution" %><br><br>
					</div><br>
					<div><%= f.submit "投稿", class:"btn btn-secondary btn-lg" %>
					</div>
				<% else %>
					<div class="user-edit-link-field">
						*投稿するにはユーザー名が必要です。<br>
						ユーザー情報編集はこちら<span><i class="far fa-hand-point-right"></i></span>
						<%= link_to "", edit_user_path(current_user), class: "far fa-edit btn btn-warning btn-xs"%><br><br>
					</div>
					<div class="field">
						<%= f.label :"投稿画像" %>
						<%= f.file_field :avatar %>
					</div><br>
					<div class="field">
						<%= f.label :"あなたの得意" %>
						<%= f.text_field :name, size: '25x4' %>
					</div><br>
					<div class="field">
						<%= f.label :"ジャンル" %>
						<%= f.select :genre_id, @genres.map{|t| [t.name, t.id]} %>
					</div><br>
					<div class="field">
						<%= f.label :"価格" %>
						<%= f.text_field :price %>
					</div><br>
					<div class="field">
						<%= f.label :"商品説明" %><br>
						<%= f.text_area :body, size: '25x6', class: "product-body" %><br><br>
					</div><br>
					<div class="field">
						<%= f.label :"購入時の注意点" %><br>
						<%= f.text_area :caution, size: '25x6', class: "product-caution" %><br><br>
					</div><br>
					<div><%= f.submit "投稿", class:"btn btn-secondary btn-lg" %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-4 offset-2 post-bg">
		</div>
	</div>
</div>

