<div class="product-show-container">
	<h1 class="show-product-title">商品詳細</h1>
	<%= render 'layouts/flash_messages' %>
	<div class="product-show-head">
		<div class="product-show-item-wrapper">
			<h2 class="product-show-item">商品名<br>
				『　<%= @product.name %> 』
			</h2>
			<h2 class="product-show-item">ユーザー名<br>
				『　<%= @product.user.name %> 』
			</h2>
			<h4 class="product-show-item">販売実績 : <%= @product.sale_result %>件</h4>
		</div>
		<!--ユーザーログイン時-->
		<% if user_signed_in? %>
			<!--色付きリンク二つ-->
			<div class="row product-show-link">
				<!--自分の商品じゃない時-->
				<% if current_user != @product.user %>
					<div class="col-md-6 consult-link">
					<%= link_to rooms_create_path(current_user, @product.user, @product), method: :post, :style=>"color:white; text-decoration: none;" do %>
						<h4>注文内容</h4>
						<p><%= @product.price %>円</p>
						<div><%= @product.name %></div><br>
						<p><< 注文相談へ進む >></p>
					</div>
					<% end %>
				<!--自分の商品の時-->
				<% else %>
					<div class="col-md-6 consult-link">
					<%= link_to "#{}", :style=>"color:white; text-decoration: none;" do %>
						<h4>注文内容</h4>
						<p><%= @product.price %>円</p>
						<div><%= @product.name %></div><br>
						<p><< あなたの商品です >></p>
					</div>
					<% end %>
				<% end %>
				<!--すでにコメントしている場合-->
				<% if @product.commented_by?(current_user) %>
					<div class="col-md-6 comment-link">
					<%= link_to "#{}", :style=>"color:white; text-decoration: none;" do %>
						<h4>コメント投稿</h4>
						<div>
							あなたがしてもらって<br>嬉しかったことや、<br>もっとしてほしいことを<br>
							コメントしてください！
						</div>
						<p><< コメント済み >></p>
					</div>
					<% end %>
				<!--まだコメントしてない時-->
				<% else %>
					<div class="col-md-6 comment-link">
					<%= link_to new_user_product_comment_path(current_user, @product), :style=>"color:white; text-decoration: none;" do %>
						<h4>コメント投稿</h4>
						<div>
							あなたがしてもらって<br>嬉しかったことや、<br>もっとしてほしいことを<br>
							コメントしてください！
						</div>
						<p><< コメントへ進む >></p>
					</div>
					<% end %>
				<% end %>
			</div>
		<!--ユーザー非ログイン時-->
		<% else %>
			<!--色付きリンク二つ-->
			<div class="row product-show-link">
				<div class="col-md-6 consult-link">
				<%= link_to new_user_session_path, :style=>"color:white; text-decoration: none;" do %>
					<h4>注文内容</h4>
					<p><%= @product.price %>円</p>
					<div><%= @product.name %></div><br>
					<p><< ログインしてください >></p>
				</div>
				<% end %>
				<div class="col-md-6 comment-link">
				<%= link_to new_user_session_path, :style=>"color:white; text-decoration: none;" do %>
					<h4>コメント投稿</h4>
					<div>
						あなたがしてもらって<br>嬉しかったことや、<br>もっとしてほしいことを<br>
						コメントしてください！
					</div>
					<p><< ログインしてください >></p>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<br><br><br>
	
	<!-- タブ・メニュー -->
	<ul class="nav nav-tabs product-show-nav">
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#item-service-content">サービス内容</a></li>
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#item-caution">購入時の注意</a></li>
		<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#item-comment">コメント</a></li>
		<li id="fav-area">
			<%= render partial: 'products/fav', locals: {product: @product} %>
		</li>
	</ul>
	
	<div class="row product-show-foot">
		<div class="col-md-7 offset-md-1 col-10 offset-1">

			<!-- タブ内容 -->
			<div class="tab-content">
				<!--サービス内容-->
				<div class="tab-pane" id="item-service-content">
					<h3 class="tab-title1">サービス内容</h3>
					<div class="tab-items-content"><%= simple_format(@product.body) %></div>
				</div>
				<!--購入時の注意-->
				<div class="tab-pane" id="item-caution">
					<h3 class="tab-title2">購入時の注意点</h3>
					<div class="tab-items-content"><%= simple_format(@product.caution) %></div>
				</div>
				<!--コメント一覧-->
				<div class="tab-pane" id="item-comment">
					<h3 class="tab-title3">コメント</h3>
					<div class="comment-container">
						<%= render partial: "comments/index", locals: {comments: @comments, product: @product} %>
					</div>
				</div>
			</div>
		</div>
		<!--プロフィール情報　固定-->
		<div class="col-md-3">
			<div class="seller-profile">
				<h4 class="product-user-info">[出品者情報]</h4>
				<!--simple_formatメソッドを用いると入力の時の改行が適用される-->
				<%= simple_format(@product.user.profile) %>
			</div>
		</div>
	</div>
</div>