<!DOCTYPE html>
<html>
  <head>
    <title>Tokuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <!--ブランド名・ロゴを入れる-->
        <a class="navbar-brand" href="#">tokuru</a>
         
        <!--レスポンシブの際のハンバーガーメニューのボタン-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
         
        <!--ナビバー内のメニュー-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- ハンバーガーメニューのボタンを動かすためには、
        　　　上記id="navbarSupportedContent"部分と<button>内に記述のある
        　　　data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        　　　部分を一緒にする必要がある。-->
          <ul class="navbar-nav mr-auto">
          <!--管理者サインイン時のヘッダー-->
          <% if admin_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#">管理者トップ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">商品一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ユーザー一覧</a>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          <!--ユーザーサインイン時のヘッダー-->
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#">商品一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">商品投稿</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">マイページ</a>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <!--非ログイン時のヘッダー-->
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#">商品一覧</a>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    <% end %>
             
    </header><!-- /header -->
    <%= yield %>
    <footer>
      <div class="footer-container">
        <div class="row">
          <div class="col-4">
            <!--ロゴを後から入れる-->
          </div>
          <div class="col-4">
            <!--メニュー-->
            <p>
              <%= link_to resign_path(current_user.id) do %>
                <button class="btn btn-danger">退会する</button>
              <% end %>
            </p>
          </div>
          <div class="col-4">
            <!--使えるクレジットカードの情報-->
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery、Popper.js、Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
