<!DOCTYPE html>
<html>
  <head>
    <title>Tokuru</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--jscroll-->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js></script>
    <!--popper.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--Bootstrap Js-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--fontawesome-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--アイコン-->
    <%= favicon_link_tag('/images/favicon (1).ico') %>


  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
        <!--管理者サインイン時のヘッダー-->
          <% if admin_signed_in? %>
            <li class="header-list">
              <%= link_to admins_admins_top_path do %>
                <p><%= image_tag "/images/shuttle.png", class: "img-fluid" %></p>
              <% end %>
              <p>管理者トップ</p>
            </li>
            <li class="header-list">
              <p><%= image_tag "/images/tokuru_logo.png", class: "img-fluid logo-picture" %></p>
            </li>
            <li class="header-list">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <p><%= image_tag "/images/tablet2.png", class: "img-fluid" %></p>
              <% end %>
              <p>ログアウト</p>
            </li>
          <!--ユーザーサインイン時のヘッダー-->
          <% elsif user_signed_in? %>
            <li class="header-list">
              <%= link_to root_path do %>
                <p><%= image_tag "/images/anker.png", class: "img-fluid" %></p>
              <% end %>
              <p>商品一覧</p>
            </li>
            <li class="header-list">
              <%= link_to new_user_product_path(current_user) do %>
                <p><%= image_tag "/images/camera.png", class: "img-fluid" %></p>
              <% end %>
              <p>商品投稿</p>
            </li>
            <li class="header-list">
              <p><%= image_tag "/images/tokuru_logo.png", class: "img-fluid" %></p>
            </li>
            <li class="header-list">
              <%= link_to user_path(current_user) do %>
                <p><%= image_tag "/images/tie.png", class: "img-fluid" %></p>
              <% end %>
              <p>マイページ</p>
            </li>
            <li class="header-list">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <p><%= image_tag "/images/tablet2.png", class: "img-fluid" %></p>
              <% end %>
              <p>ログアウト</p>
            </li>
          <!--非ログイン時のヘッダー-->
          <% else %>
              <!-- <li class="nav-item">
              <%= link_to "商品一覧", root_path, class: "nav-link" %>
            </li>
              <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link"  %>
            </li>
              <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path , class: "nav-link" %>
            </li> -->
            <li class="header-list">
              <%= link_to root_path do %>
                <p><%= image_tag "/images/anker.png", class: "img-fluid" %></p>
              <% end %>
              <p>商品一覧</p>
            </li>
            <li class="header-list">
              <%= link_to new_user_registration_path do %>
                <p><%= image_tag "/images/computer.png", class: "img-fluid" %></p>
              <% end %>
              <p>新規登録</p>
            </li>
            <li class="header-list">
              <%= link_to new_user_session_path do %>
                <p><%= image_tag "/images/tablet.png", class: "img-fluid" %></p>
              <% end %>
              <p>ログイン</p>
            </li>
          <% end %>
          </ul>
        <div class="seach-window">
          <%= form_tag search_path, enforce_utf8: false, method:'get' do %>
            <%= text_field_tag :search, "", class: "search_form", placeholder: "商品名で検索" %>
            <%= button_tag sanitize('<i class="fa fa-search"></i>'), type: "submit", class: "btn glyphicon glyphicon-search" %>
          <% end %>
        </div>
      </nav>
    </header>
    <div id="wrapper">
      <main>
        
        <%= yield %>
        
        <!--ページトップへ戻るボタン-->
        <span id="back">
          <a href="#">
            <%= image_tag "/images/arrow.png",:size => '50x50', class: "arrow-img" %>
          </a>
        </span>

      </main>
      <footer>
        <div class="row footer-items">
          <div class="col-3">
            <p><span><i class="far fa-calendar"></i></span> 会社概要</p>
            <p><span><i class="fas fa-tools"></i></span> Q&A</p>
            <p><span><i class="fas fa-exclamation-triangle"></i></span> お客様の安全のために</p>
          </div>

          <div class="col-3">
            <p><span><i class="far fa-clone"></i></span>チャットについて</p>
            <p><span><i class="far fa-clone"></i></span>お支払いについて</p>
          </div>

          <div class="col-3">
            <p><span><i class="far fa-clone"></i></span>出品について</p>
            <p><span><i class="far fa-clone"></i></span>購入について</p>
          </div>

          <div class="col-3">
            <p><span><i class="fas fa-cog"></i></span> プライバシーポリシー</p>
            <p><span><i class="fas fa-cog"></i></span> tokuru利用規約</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
